Repository development-incolume/incolume.py.githooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-precommit-installed, check-valid-filenames, detect-key

check-precommit-installed:
  name: Incolume - check if pre-commit is installed
  description: Guarantees pre-commit instalation for project.
  entry: is-precommit-installed
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual
  args: []

check-valid-filenames:
  name: Incolume - check if is valid filenames
  description: Guarantees valid filenames for Python.
  entry: is-valid-filename
  language: python
  additional_dependencies:
  - icecream
  - rich
  stages:
  - pre-commit
  - pre-push
  - manual
  args: []

detect-key:
  verbose: false
  name: Incolume - detect private key
  description: detects the presence of private keys.
  entry: detect-key
  language: python
  args: []

refactor: #175 propriedade renomeada adequadamente
  incolume/py/githooks/core/rules.py
  incolume/py/githooks/validate_filename.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #175 correção de falso/positivo e ampliação de cobertura
  incolume/py/githooks/validate_filename.py
  tests/incolume/py/githooks/validate_filename_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

doc: #175 atualização do CHANGELOG.md
  CHANGELOG.md
Due: detect-key

perf: #175 refinamento de implementações diversas
  incolume/py/githooks/core/rules.py
  incolume/py/githooks/validate_filename.py
  tests/incolume/py/githooks/validate_filename_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

build: incolume-py-githooks 1.10.0a41
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

test(perf): #177 removido testes duplicados
  tests/incolume/py/githooks/validate_filename_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #177 mypy no-untyped-def
  tests/incolume/py/githooks/validate_filename_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

style(fix): #177 fixed line-too-long
  incolume/py/githooks/validate_filename.py
Due: check-precommit-installed, check-valid-filenames, detect-key

refactor: #177 substituído logica de execução para validar arquivos em CLI
  incolume/py/githooks/cli.py
  tests/incolume/py/githooks/cli_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #178 reativado testes de setup/teardown
  tests/setup_teardown_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

refactor!: #177 sanitizado código obsoleto para evitar implementação de cobertura
  incolume/py/githooks/validate_filename.py
  tests/incolume/py/githooks/validate_filename_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #179 correção em bug na implementação de Enum rules.Status
  incolume/py/githooks/core/rules.py
  tests/incolume/py/githooks/core/rules_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #177 Mypy Unused "type: ignore" comment [unused-ignore]
  incolume/py/githooks/validate_filename.py
Due: check-precommit-installed, check-valid-filenames, detect-key

refactor: #177 santizado modo de apresentação da class RequestFl
  incolume/py/githooks/core/rules.py
  incolume/py/githooks/validate_filename.py
Due: check-precommit-installed, check-valid-filenames, detect-key

refactor: #178 Atualizado implementação para CLI
  incolume/py/githooks/cli.py
  tests/incolume/py/githooks/cli_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #178 falso/positivos antigos corrigidos em CLI
  tests/incolume/py/githooks/cli_test.py
  tests/incolume/py/githooks/validate_filename_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

style: #177 formatação ruff aplicada
  tests/incolume/py/githooks/cli_test.py
  tests/incolume/py/githooks/validate_filename_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

refactor: #177 retipificação mypy para `has_private_key`
  incolume/py/githooks/detect_private_key.py
Due: check-precommit-installed, check-valid-filenames

refactor: #83 Pacote rich, desencorajado devido aos acréscimos textuais para cores. Substituído pelo pacote CLICK
  incolume/py/githooks/cli.py
Due: check-precommit-installed, check-valid-filenames, detect-key

perf: #178 filtrado tag de cores para validação de mensagens
  tests/incolume/py/githooks/cli_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

style: #178 formatado ruff parcialmente
  incolume/py/githooks/cli.py
  tests/incolume/py/githooks/cli_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

build: incolume-py-githooks 1.10.0a42
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

build: incolume-py-githooks 1.10.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: detect-key

chore: #181 atualizado pacote `pytest == 9.1.1`
  pyproject.toml
  uv.lock
Due: detect-key

build: incolume-py-githooks 1.11.0a1
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

chore(refactor): #182 Migrado configuração .pytest.ini -> pytest.toml
  .pytest.toml
Due: detect-key

build: incolume-py-githooks 1.11.0a2
  CHANGELOG.md
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

test(perf): #177 Realocado insumos de testes unitario específico
  tests/incolume/py/githooks/cli_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix(test): #170 path arquivo de test corrigido
  tests/incolume/py/githooks/cli_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

chore: #170 pacote rich removido, cores no terminal substituído por comando do `click` já disponível nas dependências
  pyproject.toml
  uv.lock
Due: detect-key

refactor: #170 sanitização de resquicios para pacote rich
  incolume/py/githooks/cli.py
  incolume/py/githooks/core/__init__.py
  incolume/py/githooks/validate_branchname.py
  tests/package_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

perf: #170 refinamento da implementação e correção de falso/positivos para detect_private_key
  incolume/py/githooks/cli.py
  incolume/py/githooks/detect_private_key.py
  tests/incolume/py/githooks/core/decorators_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

refactor: #183 função remove_color_tags para modulo core.main
  incolume/py/githooks/core/__init__.py
  incolume/py/githooks/core/__main__.py
  tests/incolume/py/githooks/cli_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

refactor: #170 ampliação da cobertura para decorators.py
  incolume/py/githooks/validate_branchname.py
  tests/incolume/py/githooks/core/decorators_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

build: incolume-py-githooks 1.11.0a3
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

test: #184 implementação de testes para RequestFl
  tests/incolume/py/githooks/core/rules_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

test: #184 possibilidades não cobertas para RequestFl
  tests/incolume/py/githooks/core/rules_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #184 nome reutilizado indevidamente
  tests/incolume/py/githooks/core/rules_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #184 mypy ajustado para test_request_file_class_model
  tests/incolume/py/githooks/core/rules_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #184 aplicado ignore case para identificar test no nome do arquivo
  incolume/py/githooks/core/rules.py
Due: check-precommit-installed, check-valid-filenames, detect-key

Path conditions:
  check-precommit-installed: any of: \.py$
  check-valid-filenames: any of: \.py$
  detect-key: any file but: ^.*detect_private_key.*$
