Repository development-incolume/incolume.py.githooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-precommit-installed, check-valid-filenames, detect-key

check-precommit-installed:
  name: Incolume - check if pre-commit is installed
  description: Guarantees pre-commit instalation for project.
  entry: is-precommit-installed
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual
  args: []

check-valid-filenames:
  name: Incolume - check if is valid filenames
  description: Guarantees valid filenames for Python.
  entry: is-valid-filename
  language: python
  additional_dependencies:
  - icecream
  - rich
  stages:
  - pre-commit
  - pre-push
  - manual
  args: []

detect-key:
  verbose: false
  name: Incolume - detect private key
  description: detects the presence of private keys.
  entry: detect-key
  language: python
  args: []

build: incolume-py-githooks 1.10.0a20
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

fix: #168 mypy attr-defined
  incolume/py/githooks/core/rules.py
  incolume/py/githooks/validate_filename.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #168 mypy `return-value` e `no-any-return`
  tests/conftest.py
  tests/incolume/py/githooks/core/decorators_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #168 mypy "Implicit return in function which does not return"
  tests/incolume/py/githooks/cli_test.py
  tests/incolume/py/githooks/detect_private_key_test.py
  tests/incolume/py/githooks/footer_signedoffby_test.py
  tests/incolume/py/githooks/prepare_commit_msg_test.py
  tests/incolume/py/githooks/validate_filename_test.py
  tests/package_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #168 mypy `no-any-return`
  incolume/py/githooks/cli.py
  incolume/py/githooks/core/decorators.py
  incolume/py/githooks/core/rules.py
  incolume/py/githooks/validate_branchname.py
  tests/setup_teardown_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #168 removido configuração `all` para evitar conflito de pacotes
  pyproject.toml
  uv.lock
Due: detect-key

fix: #168 mypy union-attr
  incolume/py/githooks/core/rules.py
  incolume/py/githooks/prepare_commit_msg.py
  incolume/py/githooks/validate_filename.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #168 mypy type-arg
  incolume/py/githooks/core/rules.py
Due: check-precommit-installed, check-valid-filenames, detect-key

perf: #168 implementação com compreentions para melhoria de performance
  incolume/py/githooks/detect_private_key.py
Due: check-precommit-installed, check-valid-filenames

fix: #168 mypy attr-defined, assignment, type-arg e arg-type
  incolume/py/githooks/core/decorators.py
  incolume/py/githooks/core/rules.py
  incolume/py/githooks/detect_private_key.py
  incolume/py/githooks/validate_branchname.py
  incolume/py/githooks/validate_filename.py
  tests/incolume/py/githooks/cli_test.py
  tests/incolume/py/githooks/core/decorators_test.py
  tests/incolume/py/githooks/detect_private_key_test.py
  tests/incolume/py/githooks/validate_filename_test.py
  tests/setup_teardown_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #168 mypy assignment
  incolume/py/githooks/core/decorators.py
  incolume/py/githooks/core/rules.py
  incolume/py/githooks/detect_private_key.py
  tests/incolume/py/githooks/cli_test.py
  tests/incolume/py/githooks/core/decorators_test.py
  tests/incolume/py/githooks/prepare_commit_msg_test.py
  tests/incolume/py/githooks/validate_filename_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #168 mypy `misc`
  incolume/py/githooks/core/rules.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #168 mypy `assignment`, `no-any-return`, `unreachable`, `return-value`, `func-returns-value`
  incolume/py/githooks/cli.py
  incolume/py/githooks/core/decorators.py
  incolume/py/githooks/core/rules.py
  incolume/py/githooks/validate_filename.py
  tests/setup_teardown_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

build: incolume-py-githooks 1.10.0a21
  CHANGELOG.md
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

chore(refactor): #168 modo strict ativado para mypy
  mypy.ini
Due: detect-key

build: incolume-py-githooks 1.10.0a22
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

fix: non-empty-init-module (RUF067)
  incolume/py/githooks/core/__main__.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #169 non-empty-init-module (RUF067) novo __init__.py
  incolume/py/githooks/core/__init__.py
  incolume/py/githooks/core/__main__.py
  incolume/py/githooks/core/decorators.py
Due: check-precommit-installed, check-valid-filenames, detect-key

build: incolume-py-githooks 1.10.0a23
  pyproject.toml
  uv.lock
Due: detect-key

test: #85 tratativas em corrigir falso/positivo em testes unitários
  incolume/py/githooks/cli.py
  tests/incolume/py/githooks/cli_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

revert: "test: #85 tratativas em corrigir falso/positivo em testes unitários"
  incolume/py/githooks/cli.py
  tests/incolume/py/githooks/cli_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

build: incolume-py-githooks 1.10.0a24
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

chore: #170 jupyter não necessário em produção
  pyproject.toml
Due: detect-key

test: #150 melhoria no registro de testes
  tests/setup_teardown_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

build: incolume-py-githooks 1.10.0a25
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

style: #150 formatação `ruff` via `pre-commit`
  incolume/py/githooks/core/__main__.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #150 non-empty-init-module (RUF067)
  incolume/py/githooks/__init__.py
  incolume/py/githooks/core/__init__.py
  incolume/py/githooks/core/__main__.py
  tests/__init__.py
Due: check-precommit-installed, check-valid-filenames, detect-key

chore: #150 line-too-long (E501) ignorado para diretório de tests/
  ruff.toml
Due: detect-key

fix: #150 commented-out-code (ERA001), property-docstring-starts-with-verb (D421), rule-codes-in-selectors (RUF201), line-too-long (E501) e mypy `no-untyped-def`
  incolume/py/githooks/core/decorators.py
  incolume/py/githooks/validate_filename.py
  tests/incolume/py/githooks/validate_filename_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #150 unused-annotation (F842)
  tests/incolume/py/githooks/cli_test.py
  tests/incolume/py/githooks/prepare_commit_msg_test.py
  tests/incolume/py/githooks/validate_branchname_test.py
  tests/package_test.py
Due: check-precommit-installed, check-valid-filenames, detect-key

build: incolume-py-githooks 1.10.0a26
  pyproject.toml
  uv.lock
Due: detect-key

fix: #150 type-arg
  incolume/py/githooks/core/rules.py
Due: check-precommit-installed, check-valid-filenames, detect-key

fix: #162 ajuste no path para pyproject.toml
  incolume/py/githooks/core/__main__.py
Due: check-precommit-installed, check-valid-filenames, detect-key

build: incolume-py-githooks 1.10.0a27
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

chore: #172 atualização para pacote incolume.py.changelog
  uv.lock
Due: detect-key

feat: #171 configuração toml para incolume.py.changelog
  .changelog.toml
Due: detect-key

refactor: #171 atualização para versão de desenvolvimento `incolume.py.changelog`
  pyproject.toml
  uv.lock
Due: detect-key

chore: #171 `incolume.py.changelog` retornado para repositório pypi
  pyproject.toml
  uv.lock
Due: detect-key

chore(refactor): #171 correção na configuração para changelog
  .changelog.toml
Due: detect-key

build: incolume-py-githooks 1.10.0a28
  CHANGELOG.md
  incolume/py/githooks/version.txt
  pyproject.toml
  uv.lock
Due: detect-key

Path conditions:
  check-precommit-installed: any of: \.py$
  check-valid-filenames: any of: \.py$
  detect-key: any file but: ^.*detect_private_key.*$
